* {
    font-family: libre Baskerville, serif;
}
header{
    display: flex;
    align-items: center;
}

#logo {
    margin-left: 0px;
    margin-top: 40px;
    color: rgb(234, 221, 207);
}

/* toplist*/
ul{
    display: flex;
    list-style: none;
    padding-left: 0;
}
li{
    margin-left: 3rem;
}

/*main*/ 
.family-friends{
    margin-top: 50px;
    width: 40%;   
}
.fashion{
    margin-top: 100px;
    width: 30%;   
}
.culture{
    margin-top: 100px;
    width: 40%;   
    margin-bottom: 50px;
}
figure {
    margin-left: 40%;
    color: rgb(234, 221, 207);
}
section{
    background-color: rgb(48, 46, 48);
}
.images{
    background-color:rgb(95, 92, 90);
}
body{
    background-color: rgb(0, 0, 0);
}
/*about-me page*/
.about-me{
    width: 400px;

}
.me{
    width: 400px;
    height: 500px;
    margin-bottom: 50px;
}

/*about-us-headline*/
h1{
    margin-top: 50px;
    margin-left: 600px;
    font-size: 20px;
    color: rgb(234, 221, 207);
}

/*contact-page*/
h2{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    color:rgb(95, 92, 90);
}
h3{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    color: rgb(95, 92, 90);
}
/*mail*/
h4{
    margin-top: 80px;
    margin-left: 680px;
    font-size: 20px;
    color: rgb(95, 92, 90); 
}
/*mail*/
h5{
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 680px;
    font-size: 20px;
    color: rgb(95, 92, 90);
}
/*message*/
h6{
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 690px;
    font-size: 20px;
    color: rgb(95, 92, 90);
}
/*contact-us*/
h7{
    margin-left: 650px;
    margin-top: 150px;
    font-size: 20px;
    color: rgb(234, 221, 207);
}
.my-info{
    font-size: 10px;
}
p{
    margin-left: 0px;
    color: rgb(234, 221, 207);
}
.intro{
    font-size: x-large;
    margin-left: 500px;
}
.bio{
    margin-left: 600px;
    margin-right: 200px;
    text-align: justify;
}

.contact{
    margin-left: 500px;
    width: 500px;
    height: 20px;
   
}
.message{
  
    margin-left: 500px;
    width: 500px;
    height: 50px;
    
}

.send-message{
    margin-left: 670px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: medium;
    color: rgb(95, 92, 90)
}


/* footer */
footer {
   margin-top: 20px;
   border-top: 1px solid ; 
   color: rgb(234, 221, 207);
}

